<?xml version="1.0"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
	<factories presentationfactory="patterns.factory.PresentationFactory">
		<factory>patterns.factory.ChangeCommandFactory</factory>
		<factory>patterns.factory.AbortCommandFactory</factory>
		<factory>patterns.factory.SelectCommandFactory</factory>
	</factories>
	<adapters>
		<adapter>patterns.adapter.XMLAdapter</adapter>
	</adapters>
	<controlservices>
		<controlservice>SlideControl</controlservice>
		<controlservice>FileControl</controlservice>
		<controlservice>ClickControl</controlservice>
	</controlservices>
	<gui>GUI</gui>
	<presenter>Presenter</presenter>
	<startcommands>
		<command type="Change" data="FileData" constructor1="test.xml" constructor2=""></command>
	</startcommands>
</settings>