<?xml version="1.0"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
	<factories presentationfactory="patterns.factory.PresentationFactory">
		<factory>patterns.factory.ChangeCommandFactory</factory>
		<factory>patterns.factory.AbortCommandFactory</factory>
		<factory>patterns.factory.SelectCommandFactory</factory>
	</factories>
	<adapters>
		<adapter>patterns.adapter.XMLAdapter</adapter>
	</adapters>
	<controlservices controlService="patterns.component.ControlService">
		<controlservice>patterns.component.control.SlideControl</controlservice>
		<controlservice>patterns.component.control.FileControl</controlservice>
		<controlservice>patterns.component.control.MouseControl</controlservice>
		<controlservice>patterns.component.control.PresentationControl</controlservice>
	</controlservices>
	<gui>presentation.GUI</gui>
	<presenter>presentation.Presenter</presenter>
	<startcommands>
		<command type="patterns.command.Change" 
			data="patterns.command.wrappers.FileData" constructor1="test.xml" constructor1type="java.lang.String" constructor2="" constructor2type="java.lang.String" ></command>
	</startcommands>
</settings>